<div class="LoginContainer">
    <form action="#" class="register-form">
        <h2>ورود</h2>
        <div class="input-group">
            <label for="email">ایمیل</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="password">رمز عبور</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" style="font-family: Bykan; font-size: 18px;">ورود</button>
        <p>آیا اکانت نداری? <a asp-controller="Auth" asp-action="RegisterIndex">ثبت نام</a></p>
    </form>
</div>