@model RegisterUserViewModel

<div class="LoginContainer">
    <form asp-controller="Auth" asp-action="Register" method="post" class="register-form">
        <h2>ثبت نام</h2>
        <div class="input-group">
            <label asp-for="EmailAddress">ایمیل</label>
            <input asp-for="EmailAddress" required>
            <span class="text-danger" asp-validation-for="EmailAddress"></span>
        </div>
        <div class="input-group">
            <label for="password">رمز عبور</label>
            <input type="password" asp-for="Password">
        </div>

        <div class="input-group">
            <label for="password">تکرار رمز عبور</label>
            <input type="password" asp-for="ConfirmPassword" placeholder="تکرار رمز عبور">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

        </div>
        <button type="submit" style="font-family: Bykan; font-size: 18px;">ثبت نام</button>
        <p>آیا اکانت داری? <a a asp-controller="Auth" asp-action="LoginIndex">ورود</a></p>
    </form>
</div>