<div style="display: flex; justify-content: center; margin-top: 15px;">
    <h1> تمام کتاب ها </h1>
</div>

<div class="search-container">
    <input type="text" id="search-input" placeholder="جستجو...">
    <button id="search-btn">  <i class="fa fa-search"></i> </button>
</div>

<div class="BooksContainer">

    <div class="bookItem">
        <div class="bookDetails">
            <img src="/MainWebTemplate/asstes/img/9780063317475.webp" class="imgBook">
            <div>
                <h3>
                    من به شما نشان خواهم داد که چگونه بود: داستان کیف در زمان جنگ
                </h3>
                <p>
                    Illia Ponomarenko
                </p>
                <p> 15,000 تومان </p>

            </div>
        </div>

        <a href="book.html" style="text-decoration : none" class="cartBtn">
            مشاهده
        </a>
    </div>

    <div class="bookItem">
        <div class="bookDetails">
            <img src="/MainWebTemplate/asstes/img/9780143137894.webp" class="imgBook">
            <div>
                <h3>
                    من به شما نشان خواهم داد که چگونه بود: داستان کیف در زمان جنگ
                </h3>
                <p>
                    Illia Ponomarenko
                </p>
                <p> 15,000 تومان </p>

            </div>
        </div>

        <a href="book.html" style="text-decoration : none" class="cartBtn">
            مشاهده
        </a>
    </div>
    <div class="bookItem">
        <div class="bookDetails">
            <img src="/MainWebTemplate/asstes/img/9781620401620.jpg" class="imgBook">
            <div>
                <h3>
                    من به شما نشان خواهم داد که چگونه بود: داستان کیف در زمان جنگ
                </h3>
                <p>
                    Illia Ponomarenko
                </p>
                <p> 15,000 تومان </p>

            </div>
        </div>

        <a href="book.html" style="text-decoration : none" class="cartBtn">
            مشاهده
        </a>
    </div>
    <div class="bookItem">
        <div class="bookDetails">
            <img src="/MainWebTemplate/asstes/img/9781668006498.jpg" class="imgBook">
            <div>
                <h3>
                    من به شما نشان خواهم داد که چگونه بود: داستان کیف در زمان جنگ
                </h3>
                <p>
                    Illia Ponomarenko
                </p>
                <p> 15,000 تومان </p>

            </div>
        </div>

        <a href="book.html" style="text-decoration : none" class="cartBtn">
            مشاهده
        </a>
    </div>
    <div class="bookItem">
        <div class="bookDetails">
            <img src="/MainWebTemplate/asstes/img/9781982120344.webp" class="imgBook">
            <div>
                <h3>
                    من به شما نشان خواهم داد که چگونه بود: داستان کیف در زمان جنگ
                </h3>
                <p>
                    Illia Ponomarenko
                </p>
                <p> 15,000 تومان </p>

            </div>
        </div>

        <a href="book.html" style="text-decoration : none" class="cartBtn">
            مشاهده
        </a>
    </div>


</div>


<div style="display: flex; justify-content: center; margin-top: 15px; margin-bottom: 30px;">
    <div class="pagination">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">...</a>
        <a href="#">10</a>
    </div>
</div>