@model List<BookViewModel>

<div class="BooksContainer">

    @{
        foreach (var bookViewModel in Model)
        {
            <div class="bookItem">
                <div class="bookDetails">
                    <img src="~/uploads/@bookViewModel.ImageName" class="imgBook">
                    <div>
                        <h3>
                            @bookViewModel.Title
                        </h3>
                        <p>
                            @bookViewModel.AuthorName
                        </p>
                        <p> @bookViewModel.Price تومان </p>

                    </div>
                </div>

                <a asp-controller="BookDetails" asp-action="Index" asp-route-id="@bookViewModel.Id" style="text-decoration : none" class="cartBtn">
                    مشاهده
                </a>
            </div>
        }
    }


</div>