<footer>
    <div class="about-us">
        <h3>درباره ما</h3>
        <p>ما یک شرکت متعهد به ارائه خدمات با کیفیت بالا به مشتریان خود هستیم.</p>
    </div>
    <div class="important-links">
        <h3>لینک‌های مهم</h3>
        <ul>
            <li><a href="#">خانه</a></li>
            <li><a href="#">محصولات</a></li>
            <li><a href="#">خدمات</a></li>
            <li><a href="#">تماس</a></li>
        </ul>
    </div>
    <div class="social-icons">
        <h3>ما را دنبال کنید</h3>
        <div class="icons">
            <a href="#"><img src="/MainWebTemplate/asstes/img/8726504_telegram_icon.svg" alt="telegram"></a>
            <a href="#"><img src="/MainWebTemplate/asstes/img/1298747_instagram_brand_logo_social media_icon.svg" alt="Twitter"></a>
            <a href="#"><img src="/MainWebTemplate/asstes/img/294709_circle_twitter_icon.svg " alt="Instagram"></a>
        </div>
    </div>
</footer>