<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiyaCode - project</title>
    <link href="/MainWebTemplate/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div dir="rtl" style="font-family: Bykan;">

        <!-- nav bar     -->
        <partial name="_Navbar"/>

        @RenderBody()




        <!-- footer -->
        <partial name="_Footer"/>


    </div>

<script src="/MainWebTemplate/js/scripts.js"></script>
@RenderSection("Scripts",false)
</body>

</html>