<nav class="nav">


    <div class="mobileNav hidden">
        <i id="myNavBtn" class="fa fa-bars"></i>
        <a> LOGO </a>

    </div>

    <div id="desktopNav" class="navbar">
        <a asp-controller="Home" asp-action="Index"> خانه </a>
        <a class="atext" asp-controller="BookDetails" asp-action="BookList"> محصولات </a>
        <a class="atext" asp-controller="Home" asp-action="ContactUs"> درباره با ما </a>
        <a class="atext" asp-controller="Auth" asp-action="LoginIndex"> ورود</a>
    </div>



</nav>